/* --- ESTILOS PÁGINA PANEL DE ADMINISTRADOR Y EDITAR JUEGO --- */

.nav-administrar {
    color: white !important;
}

.boton-crud {
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.boton-crud:hover {
    color: white;
}

.boton-destacar {
    background: rgb(255, 196, 0);
}

.boton-destacar:hover {
    background: rgb(255, 214, 78);
}

.boton-quitar-destacado {
    background: rgb(255, 72, 0);
}

.boton-quitar-destacado:hover {
    background: rgb(255, 111, 55);
}

.boton-editar {
    background: gray;
}

.boton-editar:hover {
    background: rgb(180, 180, 180);
}

.boton-eliminar {
    background: red;
}

.boton-eliminar:hover {
    background: rgb(255, 72, 72);
}

td {
    line-height: 26px;
}

input, select {
    width: 100%;
}

@media (min-width: 768px) {
    td {
        line-height: 36px;
    }

    input, select {
        width: 25%;
    }

    .boton-credenciales {
        width: 25% !important;
    }
}

.boton-credenciales {
    margin-top: auto;
    background: red !important;
    border: 2px solid red !important;
    border-radius: 5px;
    transition: .3s;
    color: white;
    width: 100%;
}

.boton-credenciales:hover {
    background: rgb(255, 51, 51) !important;
    border: 2px solid rgb(255, 51, 51) !important;
    transition: .3s;
    color: rgb(223, 223, 223);
}

.checkbox {
    width: 13px;
}