/* --- ESTILOS PÁGINA INDEX --- */

.nav-home {
    color: white !important;
}

h1, h2 {
    font-size: 4.688rem;
}

.carrusel-titulo {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-family: "Bebas Neue", cursive;
}

.carrusel-texto {
    font-size: 1.625rem;
    margin-bottom: 0;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.527);
    border-radius: 5px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background: transparent;
}

@media (min-width: 768px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background: rgba(0, 0, 0, 0.527);
        display: block;
        border-radius: 50%;
        font-size: 1.625rem;
        width: 50px;
        height: 50px;
    }
}

