/* --- ESTILOS GLOBALES --- */

/*BÁSICOS*/
::selection {
  background: red;
  color: white;
}

header h1 {
  font-size: 4.688rem;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
}

label,
p,
a {
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: red;
}

a:hover {
  color: rgb(255, 51, 51);
}

/*ELEMENTOS DE FORMULARIOS*/
.input_form {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.input_form:focus {
  border: 2px solid red;
  outline: none;
}

/*BARRA DE NAVEGACIÓN*/
.navbar {
  background: red !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: rgb(216, 216, 216) !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: 2px solid white !important;
}

.navbar-toggler span {
  color: white;
}

/*FOOTER*/
.black {
  color: black !important;
}

/*PAGINACIÓN*/
.page-link {
  color: black !important;
}

.pagina-actual {
  background: red !important;
  border: 1px solid red !important;
  color: white !important;
}

/*INDEX, CARRITO Y CATALOGO*/
.carrito-card {
  height: 300px;
}

.card-body {
  display: flex;
  flex-flow: column;
}

.boton-catalogo {
  margin-top: auto;
  background: red !important;
  border: 2px solid red !important;
  border-radius: 5px;
  transition: .3s;
  color: white;
}

.boton-catalogo:hover {
  background: rgb(255, 51, 51) !important;
  border: 2px solid rgb(255, 51, 51) !important;
  transition: .3s;
  color: rgb(223, 223, 223);
}

.boton-catalogo-deshabilitado {
  margin-top: auto;
  background: gray !important;
  border: 2px solid gray !important;
  border-radius: 5px;
  color: white;
  cursor: default;
}

.boton-catalogo-deshabilitado:hover {
  color: white;
}



/*CUENTA Y ADMINISTRADOR*/
table {
  border: 2px solid;
}